@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =============== GENERAL STYLES =============== */

*{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;

}
body{
    background: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.15);
    backdrop-filter: blur(15px);
    z-index: -1;
}

/* ================ REUSABLE STYLES ============== */

.regular-txt{
    font-weight: 400;
}

/* ====================== BOX =====================*/

.box{
    height: auto;
    border-radius: 12px;
    backdrop-filter: blur(100px);
    background: linear-gradient(to top, rgb(0, 0, 0, .15), rgb(255, 255, 255, .15));
    padding: 20px;
    min-height: 500px;
}

/* =============== SEARCH CONTAINER ============== */

.box .input-container{
    position: relative;
    margin-bottom: 25px;
}
.input-container .city-input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 99px;
    border: 3px solid transparent;
    outline: none;
    font-size: 18px;
    background: rgb(0, 0, 0, .15);
    font-weight: 500;
    transition: border .25s;
    padding-right: 90px;
}
.input-container .city-input::placeholder{
    color: rgb(255, 255, 255, .75);
}
.input-container .city-input:focus{
    border: 3px solid rgb(0, 0, 0, .15);
}
.input-container .search-btn{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(255, 255, 255, .75);
    cursor: pointer;
    transition: color .25s;
}
.location-btn{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(255, 255, 255, .75);
    cursor: pointer;
    transition: color .25s;
}

/* ================ WEATHER INFO =============== */

.weather-info{
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.weather-info .location-date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location-date-container .location{
    display: flex;
    align-items: center;
    gap: 6px;
}
.location-date-container .location i{
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.location-date-container .location .country-txts{
    margin: 0;
    padding: 0;
}
.location-date-container .location .country-txts{
    font-size: 24px;
    font-weight: 600;
}
.weather-info .current-date{
    margin: 0;
    padding: 0;
}
.weather-summary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-summary-container .weather-summary-img{
    width: 120px;
    height: 120px;
}
.weather-summary-container .weather-summary-info{
    text-align: end;
}
.weather-summary-container .weather-summary-info .temp-text,
.weather-summary-container .weather-summary-info .condition-txt{
    margin: 0;
    padding: 0;
}
.weather-conditions-container{
    display: flex;
    justify-content: space-between; 
}
.weather-conditions-container .condition-item{
    display: flex;
    align-items: center;
    gap: 6px;
}
.weather-conditions-container .condition-item i{
    font-size: 40px;
}
.forecast-items-container{
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 12px;
}
.forecast-items-container::-webkit-scrollbar{
    height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track{
    background: rgb(0, 0, 0, .15);
    border-radius: 99px;
}
.forecast-items-container::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0, .15);
    border-radius: 99px;
}
.forecast-items-container .forecast-item{
    min-width: 70px;
    background: rgb(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: background .3s;
}
.forecast-items-container .forecast-item:hover{
    background: rgb(255, 255, 255, .15);
}
.forecast-items-container .forecast-item .forecast-item-img{
    width: 35px;
    height: 35px;
}

/* ================= SEARCH CITY ================ */

.section-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
    padding-bottom: 1rem;
}
.section-message img{
    width: 30%;
    height: auto;
}
.search-city .my-location-btn{
    background: transparent;
    backdrop-filter: blur(2px);
    border: 1px solid;
    border-radius: 25px;
    padding: 12px 24px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}
.search-city .my-location-btn:hover{
    transform: scale(1.05);
}

/* =============== LOADER ============== */

.loader .spinner-border{
    margin-top: 10%;
    align-self: center;
    justify-self: center;
}
